<div class="row">
  <div class="col-md-6">
    <% if @stores.any? %>
      <h2>Here are your current stores:</h2>
      <ul>
        <% @stores.each do |store| %>
        <li><a href="/stores/<%= store.id %>"><%= store.name %></a></li>
        <% end %>
      </ul>
    <% else %>
      <h2>There are currently no stores in the system! Add one!</h2>
    <% end %>
  </div>
  <div class="col-md-6">
    <h2>Add a new store:</h2>
    <form action="/stores/new" method="post">
      <label for="store_name">Store Name</label>
      <input id="store_name" type="text" name="store_name" class="form-control">
      <button type="submit" class="btn btn-primary">Add</button>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <% if @brands.any? %>
      <h2>Here are your current brands:</h2>
      <ul>
        <% @brands.each do |brand| %>
        <li><a href="/brands/<%= brand.id %>"><%= brand.name %></a>, Price: <%="%.2f" % brand.price %></li>
        <% end %>
      </ul>
    <% else %>
      <h2>There are currently no brands in the system! Add one!</h2>
    <% end %>
  </div>
  <div class="col-md-6">
    <h2>Add a new brand:</h2>
    <form action="/brands/new" method="post">
      <label for="brand_name">Brand Name</label>
      <input id="brand_name" type="text" name="brand_name" class="form-control">
      <label for="brand_price">Brand Price</label>
      <input id="brand_price" type="text" name="brand_price" class="form-control">
      <button type="submit" class="btn btn-primary">Add</button>
    </form>
  </div>
</div>
